.home {
    height: 100vh;
    background-color: #e5e5e5;
}

.nav_bar {
    display: flex;
    justify-content: space-around;
}

.nav_bar li {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .nav_bar {
        flex-direction: column;
    }
}